<div class="main-container-cart_hide">
  <div class="cart-drawer_hide">

  <header>    
    <img class="icon_exit-cart" src="https://cdn.shopify.com/s/files/1/0866/2479/6980/files/pngegg.png?v=1717532393" alt="">
    <h2 class="cart-count">Your cart ({{ cart.item_count }})</h2>
  </header>

  <main class="main-sideCart">
    <p class="text-empty_cart">Your cart is empty</p>
    <div class="content-card_cart"></div>
  </main>  

  <main class="main-content-checkout">
    {% form 'cart', cart %}
      <div class="checkout"></div>
    {% endform %}
  </main>

  <footer>
    <div class="scroll-footer">
      {% for product in collections['all-products'].products %}
        <div class="content-upsell-carrito" data-id="{{ product.first_available_variant.id }}">
          <img src="{{ product.featured_image | img_url: '100x100' }}" alt="">
          <div class="text-upsell-carrito">
            <h3>{{ product.title }}</h3>
            <p>{{ product.price }}</p>
            <button type="button" class="add-cart-from-upsell" data-id="{{ product.first_available_variant.id }}">Add Product</button>
          </div>
        </div>
      {% endfor %}
    </div>    
  </footer>
</div>
</div>


{% schema %}
{
    "name": "Cart Juan",
    "settings": [
        
        ]
}
{% endschema %}