<div class="main-container-cart_hide">
  <div class="cart-drawer_hide">

  <header>    
    <img class="icon_exit-cart" src="https://cdn.shopify.com/s/files/1/0866/2479/6980/files/pngegg.png?v=1717532393" alt="">
    <h2 class="cart-count">Your cart ({{ cart.item_count }})</h2>
  </header>

  <main class="main-sideCart">
    <p class="text-empty_cart">Your cart is empty</p>
    <div class="content-card_cart"></div>
  </main>

    
    <div class="ProgressBarLoadingWrapper">
<div class="loadingDiv" style="background: #eee;min-height: 200px;border-radius: 12px;">


</div>
      
    <div id="ProgressBar" class="ProgressBar-embed ProgressBarMainWrapper">
	<div style="">
		<div class="ProgressBarTimmerBody"></div>
		<div class="ProgressBarBody">
			<div class="ProgressBarBarsWrapper">
				<div class="blockProgressWrapper">
					<div class="blockProgressWrapper-1"></div>
					<div class="blockProgressWrapper-2"></div>
					<div class="blockProgressWrapper-3"></div>
				</div>
				<div class="FlexProgressBlock">
					<div class="FlexProgressBlockHeaddding"></div>
					<div class="FlexProgressBlockHeaddding-1"></div>
					<div class="FlexProgressBlockHeaddding-2"></div>
					<div class="flexProgressBarWrapper">
						<div class="inlinePrgressBar"></div>
						<div class="inlinePrgressBar-1"></div>
						<div class="inlinePrgressBar-2"></div>
					</div>
				</div>
			</div>
			<div class="GoalAchievedMessage">
				<h5 class="GoalAchievedMessageText"></h5> </div>
			<div class="SuccessWrapper-0"></div>
			<div class="SuccessWrapper-1"></div>
			<div class="SuccessWrapper-2"></div>
			<div class="upselStackWrapper" style="margin-top: 20px;"> </div>
			<div id="ProgressBarCarousel" class="upselCarouselWrapper" style="margin-top: 20px;">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<!-- Wrapper for slides -->
					<div class="carousel-inner"> </div>
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev"> <i class="carouselIconPBar fa-solid fa-chevron-left"></i> <span class="sr-only">Previous</span> </a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next"> <i class="carouselIconPBar fa-solid fa-chevron-right"></i> <span class="sr-only">Next</span> </a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
  

  <main class="main-content-checkout">
    {% form 'cart', cart %}
      <div class="checkout"></div>
    {% endform %}
  </main>

  <footer>
    <div class="scroll-footer">
      {% for product in collections['all-products'].products %}
        <div class="content-upsell-carrito" data-id="{{ product.first_available_variant.id }}">
          <img src="{{ product.featured_image | img_url: '100x100' }}" alt="">
          <div class="text-upsell-carrito">
            <h3>{{ product.title }}</h3>
            <p>{{ product.price }}</p>
            <button type="button" class="add-cart-from-upsell" data-id="{{ product.first_available_variant.id }}">Add Product</button>
          </div>
        </div>
      {% endfor %}
    </div>    
  </footer>
</div>
</div>


{% schema %}
{
    "name": "Cart Juan",
    "settings": [
        
        ]
}
{% endschema %}