<div class="card_section">
  {% if collection.all_products_count > 0 %}
    {% paginate collection.products by section.settings.products_per_page %}

      <div class="grilla_cards">
        {% assign counter = 0 %}
        {% assign counterPlp = 0 %}
        {% for product in collection.products %}
          {% if collection.metafields.custom.show_plp == true %}       
            {% assign blocks_count = section.blocks | size %}  
            {% assign metaInfo = collection.metafields.custom.info_cards.value %}   
            {% assign is_mult_of_three = counter | modulo: 3 %}
            {% if is_mult_of_three == 0 %} 
              {% if metaInfo != blank %}
                {% for item in metaInfo %}
                  {% assign sizeMetaInfo = forloop.length %}
                  {% if forloop.index0 == counterPlp %}
                    <div class="info-card">
                      <img src="{{ item.image_plp | image_url: width: 300, height: 550 }}" alt="">
                      <p class="{% if item.position_text_in_info_card == 1 %}top_title{% elsif item.position_text_in_info_card == 2 %}center_title{% else %}bottom_title{% endif %}">{{item.text_plp}}</p>
                      <a class="{% if item.position_text_in_info_card == 1 %}top_cta{% elsif item.position_text_in_info_card == 2 %}center_cta{% else %}bottom_cta{% endif %}" href="{{item.url_info_card}}">{{item.texto_cta_info_card}}</a>
                    </div>
                  {% endif %}
                 {% endfor %}
                 {% assign counterPlp = counterPlp | plus: 1 %}
              {% else %}           
                {%- for block in section.blocks -%}
                  {% if forloop.index0 == counterPlp %}
                    <div class="info-card">
                      <img src="{{ block.settings.image_to_plp | image_url: width: 300, height: 550 }}" alt="">
                      <p class="{% if block.settings.position-text_plp == "top" %}top_title{% elsif block.settings.position-text_plp == "center" %}center_title{% else %}bottom_title{% endif %}">{{block.settings.text_plp}}</p>
                      <a class="{% if block.settings.position-text_plp == "top" %}top_cta{% elsif block.settings.position-text_plp == "center" %}center_cta{% else %}bottom_cta{% endif %}" href="{{block.settings.link_plp}}">{{block.settings.link_text}}</a>
                    </div>
                  {% endif %}
                {%- endfor -%}
                {% assign counterPlp = counterPlp | plus: 1 %}
              {% endif %}
            {% endif %}

            {% assign counter = counter | plus: 1 %}

            {% if metaInfo != blank %}
              {% if counterPlp == sizeMetaInfo %}
                {% assign counterPlp = 0 %}
              {% endif %}
            {% else %}
              {% if counterPlp == blocks_count %}
                {% assign counterPlp = 0 %}
              {% endif %}
            {% endif %}
          {% endif %}
          <div class="product_card">
            <a href="{{ product.url }}">
              <div class="product-image">
                <img class="show-image-card main-image zoom-image" src="{{ product.featured_image | product_img_url: 'medium' }}" alt="">

              {% comment %} {% if product.media[1] != blank %}first-image{% else %}zoom-image{% endif %} {% endcomment %}
                
                {% comment %} {% if product.media[1] and product.variant.id == blank %}
                  <img class="show-image-card second-image" src="{{ product.media[1] | product_img_url: 'medium' }}" alt="">
                {% endif %}                 {% endcomment %}
              
                {% if product.available == false %}               
                  <p class="tag_sold-out">Sold Out</p>                
                {% endif %}
        
                {% if product.compare_at_price > product.price %}                
                  <p class="tag_sale">Sale</p>                
                {% endif %}

                <div class="best_seller_tag{% if product.available == false or 
                product.compare_at_price > product.price %}__R{% endif %}">
                  {%  assign metaobjeto = product.metafields.custom.choose_tag_plp.value.best_senner %}
                  {%  assign name_img = product.metafields.custom.choose_tag_plp.value.name_tag %}
      
                  {% if metaobjeto %}
                    {% if name_img != collection.title %}
                      <div class="tag_best-seller">
                      <img src="{{ metaobjeto |  img_url: '100x100' }}">
                      </div>            
                    {% endif %}  
                  {% endif %}
                </div>            
              </div>  
            </a>  
            <div class="content_color-variant">
              {% if product.variants.size > 1 %}
                <div class="swatches">
                  {% assign shown_colors = "" %}
                  {% for variant in product.variants %}
                    {% assign color = variant.option1 %}                    
                    {% unless shown_colors contains color %}
                      <div class="swatch" data-variant-color="{{ variant.option1 }}" data-variant-id="{{ variant.id }}" data-variant-image="{{ variant.featured_image.src | product_img_url: 'medium' }}">
                        <p class="item_color-variant" style="background-image: url('{{ variant.metafields.custom.textura | img_url: '200x200' }}');">{{ variant.title }}</p> 
                      </div>
                      {% assign shown_colors = shown_colors | append: color | append: "," %}
                    {% endunless %}                                                  
                  {% endfor %}
                </div>  
              {% endif %}              
            </div>
            
    
            <h2>{{ product.title }}</h2>
    
            <p>{{ product.price | money_with_currency }}</p>                 
            

            {% if product.variants.size > 1 %}
              {% form 'product', product %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" class="variant-id">
                <div class="contenedor_add-cart">
                  <button class="buttonCart" type="button">Add to cart</button>
                  <div class="swatches-size">
                    {% for variant in product.variants %}
                      <div class="swatch-size" data-variant2-id="{{ variant.id }}" data-variant2-color="{{ variant.option1 }}" data-variant2-size="{{ variant.option2 }}">
                        <button type="submit" class="item_size-variant" {% if variant.available == false %}style="opacity: 0.5; cursor: not-allowed;" disabled{% endif %}> {{ variant.option2 }}</button>
                      </div>                  
                    {% endfor %}
                  </div>
                </div>
              {% endform %}
            {% else %}
            {% form 'product', product %}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" class="variant-id">
              <div class="contenedor_add-cart">
                <button class="buttonCart" type="submit">Add to cart</button>
              </div>
            {% endform %}
            {% endif %}
            

            {% comment %} <div class="swatches-size">
              {% for variant in product.variants %}
                <div class="swatch-size" data-variant2-id="{{ variant.id }}" data-variant2-color="{{ variant.option1 }}" data-variant2-size="{{ variant.option2 }}">
                  <p class="item_size-variant">{{ variant.option2 }}</p>
                </div>
              {% endfor %}
            </div> {% endcomment %}

           </div>

        {% endfor %}
      </div>

      <div class="paginate_collection-2">
        {{ paginate | default_pagination }}
      </div>      
    {% endpaginate %}
  {% else %}
    <p>No hay productos en esta colección</p>
  {% endif %}
  
</div>

{% schema %}
{
  "name": "Grilla de productos",
  "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 3,
        "max": 16,
        "step": 1,
        "unit": "qn",
        "label": "Productos por página",
        "default": 6
      }
    ],
  
  "blocks": [
    {
      "name": "Plp Cards",
      "type": "row",
      "settings": [
        {
        "type": "image_picker",
        "id": "image_to_plp",
        "label": "Image to PLP"
      },
      {
        "type": "text",
        "id": "text_plp",
        "label": "Introduce el texto de PLP",
        "default": "Texto para PLP"
      },
      {
        "type": "url",
        "id": "link_plp",
        "label": "Link PLP"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Texto del CTA PLP",
        "default": "Texto para CTA"
      },
      {
        "type": "select",
        "id": "position-text_plp",
        "label": "Alineación vertical para PLP",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "center"
      }
      ]
    }
  ]


}
{% endschema %}