{% assign banner_color = section.settings.background_color %}
{% assign text_color = section.settings.text_color %}

{% if section.settings.intro_text != blank or section.settings.image_banner2 != blank %}
<div class="section_banner" style="background-color: {{ banner_color }};">

    {% if section.settings.intro_text != blank %}
        <div class="text_container">
            <h1 style="color: {{ text_color }};">
            {{ collection.title }}
            </h1>
            <h3 style="color: {{ text_color }};">
                {{ section.settings.intro_text }}
            </h3>
        </div>        
    {%  elsif section.settings.image_banner2 != blank %}
        <div class="image_container">
            <h1>{{ collection.title }}</h1>
            <img src="{{ section.settings.image_banner2 | img_url: '250x350' }}" alt="">
        </div>        
    {% endif %}
</div>
{% endif %}


{% schema %}
    {
      "name": "Banner de colección",
      "class": "section",
      "settings": [
        {
            "type": "image_picker",
            "id": "image_banner2",
            "label": "Image"
        },

        {
            "type": "richtext",
            "id": "intro_text",
            "label": "Paragraph"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Color fondo banner",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Color del texto",
            "default": "#000000"
        }       

      ]
    }
    {% endschema %}