<div class="card_section">
  {% if collection.all_products_count > 0 %}
    {% paginate collection.products by section.settings.products_per_page %}

      <div class="grilla_cards">
        {% assign counter = 0 %}
        {% for product in collection.products %}
          {% assign is_mult_of_three = counter | modulo: 3 %}
          {% if is_mult_of_three == 0 %}
            <div class="info-card">
              <img src="{{ section.settings.image_to_plp | product_img_url: 'medium' }}" alt="">
              <p class="{% if settings.position-text_plp == "top" %}top_title{% elsif settings.position-text_plp == "center" %}center_title{% else %}bottom_title{% endif %}">{{section.settings.text_plp}}</p>
              <a class="{% if settings.position-text_plp == "top" %}top_cta{% elsif settings.position-text_plp == "center" %}center_cta{% else %}bottom_cta{% endif %}" href="{{section.settings.link_plp}}">{{section.settings.link_text}}</a>
            </div>
          {% endif %}

          {% assign counter = counter | plus: 1 %}
          <div class="product_card">
            <a href="{{ product.url }}">
              <div class="product-image">
                <img class="show-image-card {% if product.media[1] != blank %}first-image{% else %}zoom-image{% endif %}" src="{{ product.featured_image | product_img_url: 'medium' }}" alt="">
                
                {% if product.media[1] %}
                  <img class="show-image-card second-image" src="{{ product.media[1] | product_img_url: 'medium' }}" alt="">
                {% endif %}                
              
                {% if product.available == false %}               
                  <p class="tag_sold-out">Sold Out</p>                
                {% endif %}
        
                {% if product.compare_at_price > product.price %}                
                  <p class="tag_sale">Sale</p>                
                {% endif %}

                <div class="best_seller_tag{% if product.available == false or 
                product.compare_at_price > product.price %}__R{% endif %}">
                  {%  assign metaobjeto = product.metafields.custom.choose_tag_plp.value.best_senner %}
                  {%  assign name_img = product.metafields.custom.choose_tag_plp.value.name_tag %}
      
                  {% if metaobjeto %}
                    {% if name_img != collection.title %}
                      <div class="tag_best-seller">
                      <img src="{{ metaobjeto |  img_url: '100x100' }}">
                      </div>            
                    {% endif %}  
                  {% endif %}
                </div>            
              </div>            
      
              <h2>{{ product.title }}</h2>
      
              <p>{{ product.price | money_with_currency }}</p>                 
            </a>
           </div>

        {% endfor %}
      </div>

      <div class="paginate_collection-2">
        {{ paginate | default_pagination }}
      </div>      
    {% endpaginate %}
  {% else %}
    <p>No hay productos en esta colección</p>
  {% endif %}
  
</div>

{% schema %}
{
  "name": "Grilla de productos",
  "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 3,
        "max": 16,
        "step": 1,
        "unit": "qn",
        "label": "Productos por página",
        "default": 6
      },
      {
        "type": "image_picker",
        "id": "image_to_plp",
        "label": "Image to PLP"
      },
      {
        "type": "text",
        "id": "text_plp",
        "label": "Introduce el texto de PLP",
        "default": "Texto para PLP"
      },
      {
        "type": "url",
        "id": "link_plp",
        "label": "Link PLP"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Texto del CTA PLP",
        "default": "Texto para CTA"
      },
      {
        "type": "select",
        "id": "position-text_plp",
        "label": "Alineación vertical para PLP",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "center"
      }
    ]
}
{% endschema %}